body{padding-top:80px;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;;overflow-y:scroll;}
#main-container{min-height:600px;}
.navbar-nav > li > a{font-weight:bold !important;}
.navbar-brand > img{max-height:19px;}
.no-padding{padding:0px;}
.white-panel{background-color:#fbfbfb;border:1px solid #dadada;margin-bottom:40px;overflow:hidden;color:#333;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-webkit-box-shadow:0 1px 2px rgba(0,0,0, .075);-moz-box-shadow:0 1px 2px rgba(0,0,0, .075);box-shadow:0 1px 2px rgba(0,0,0, .075);}
.upper-white-panel{height:650px;overflow:hidden;}
.upper-white-panel img{height:100%;margin: 0; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.right-white-panel{height:650px;padding:0px 30px;background-color:rgba(51,51,51,0.9);color:#fff;z-index:3;}
.right-white-panel h4{border:0px;padding-left:0px;margin-left:0px;font-family:Georgia, serif;font-size:17px;font-style:italic;}
.right-white-panel h5{font-style:italic;color:#888888;}
.bottom-white-panel{text-align:center;padding:25px 30px;}
.bottom-white-panel p{display:inline;}
.bottom-white-panel a{position:relative;top:-3px;margin-left:20px;}
#message-container{position:fixed;visibility:hidden;z-index:1031;left:0;top:0;width:100%;height:100%;}
#message-text-container{text-align:center;}
#message-text{text-align:center;visibility:visible;display:inline-block;padding:5px 10px !important;border-width:2px;border-top-left-radius:0px;border-top-right-radius:0px;font-weight:bold;max-width:600px;}
.footer{margin-bottom:0px;padding-bottom:0px;}
.loading-bar{width:100%;}
.alert-sm{padding:5px 10px;}
.nav-links{padding:0px;border-bottom:1px solid;overflow:auto;display:block;color:#5f5f5f;}
.nav-links > li{float:left;list-style-type:none;font-weight:bold;margin:0px;padding:0px;display:block;}
.nav-links > li > a{text-decoration:none;color:inherit;margin:0px;padding:8px 18px;display:block;}
.nav-link-active{padding-bottom:5px !important;border-bottom:3px solid;}
.nav-links > li > a:hover{cursor:pointer;padding-bottom:5px;border-bottom:3px solid;}
.nav-links-default{border-color:#8f8f8f;}
.nav-links-default > li > a{border-color:#8f8f8f;}
a {text-decoration: underline !important;}
a:hover {text-decoration: underline !important;}
.lab_marks{overflow:auto;}
.row-lab{margin-right: 1%;margin-left: -5%;}
.helper-video{height: 134px;overflow: hidden;}
.helper-video-play-button{position: absolute; top: 34px; left: 111px; height: 60px; cursor: pointer;}
.helper-video-play{height: 550px; width: auto;}
.white-color{color: white;}
